body {
  margin: 0;
  background: #0b0b0b;
  color: white;
  font-family: monospace;
  text-align: center;
}

h1 {
  margin: 10px;
  color: #ff2a2a;
  text-shadow: 0 0 10px red;
}

#game {
  margin: auto;
  width: 800px;
}
